@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div id="map" style="height:600px">
                    </div>
                    <div >

                        <h3>GeoJSON Dosya Yükleme</h3>
                        <form id="uploadForm" enctype="multipart/form-data">
                            <input type="file" id="fileInput" name="fileInput" accept=".geojson" class="">
                            <button type="button"  onclick="uploadFile()">Dosya Yükle</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script>
    var map = L.map('map').setView([40.2201, 28.9896], 12);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    function uploadFile() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('file', file);

        fetch('/GeoJSON/Upload', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                }
                throw new Error('Dosya yüklenirken bir hata oluştu.');
            })
            .then(data => {
                console.log(data);
                var geoJsonLayer = L.geoJSON(JSON.parse(data)).addTo(map);
                map.fitBounds(geoJsonLayer.getBounds());
                alert('GeoJSON dosyası başarıyla yüklendi.');
            });

    };
</script>


